{{!-- <h1>home</h1> --}}

{{!-- ///////////// --}}

<div class="container">
    <div class="row justify-content-around">
        <div class="col-md-4">
            <div class="card mt-5">
                <img class="card-img-top" src="https://img.theculturetrip.com/450x/smart/wp-content/uploads/2019/11/bernardbodo-gettyimages-1181169454-1.jpg"
                    alt="NBA players">
                <div class="card-body">
                    <h5 class="card-title">Venues</h5>
                    <p class="card-text">Check out the coolest Venues.</p>
                    <a href="/venues" class="btn btn-primary">See Venues</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mt-5">
                <img class="card-img-top"
                    src="https://images.unsplash.com/photo-1566404791232-af9fe0ae8f8b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8YmVybGlufGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60"
                    alt="NBA teams">
                <div class="card-body">
                    <h5 class="card-title">Areas</h5>
                    <p class="card-text">Here we can check all the areas of berlin</p>
                    <a href="/areas" class="btn btn-primary">See Areas</a>
                </div>
            </div>
        </div>
    </div>
</div>