<div class="container">
    <h1>Venues</h1>
    <div class="row">
        {{#each venues}}
        {{> card }}
        {{/each}}
    </div>
</div>

<button>
    <a href="/beers">Take me to Beers</a>
</button>